<div class="layout-content">
  <div class="slider-wrapper theme-bar">
    <div class="ribbon"></div>
    <div id="slider" class="nivoSlider">
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533791265309&di=79a70b760479b8bd5ed1a3cd1a18e94f&imgtype=0&src=http%3A%2F%2Fww1.sinaimg.cn%2Flarge%2Fca97c82egw1fah9md1v2lg209q06rtyn.gif"
        alt="" />
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533791334851&di=4bf321f3fc40f9cffe63dabda42ff778&imgtype=0&src=http%3A%2F%2Fs9.rr.itc.cn%2Fr%2FwapChange%2F20175_16_14%2Fa0s9qh9026498282542.jpg"
        alt="" />
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533791334851&di=da55cceccdc659309cae89d756720dc7&imgtype=0&src=http%3A%2F%2Fp2.qhimg.com%2Ft0185c5862db382732b.gif"
        alt="" />
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533791334845&di=4af10bb6a875e9dae57d5fe485c6bac9&imgtype=0&src=http%3A%2F%2Fimg5.duitang.com%2Fuploads%2Fitem%2F201607%2F04%2F20160704114926_rwM8v.gif"
        alt="" />
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533791430271&di=41b7e7c86ac9660374d0128cea5c7d49&imgtype=0&src=http%3A%2F%2Fmmbiz.qpic.cn%2Fmmbiz_gif%2Fyl6JkZAE3S8fCJDpIkKbcFHzylmuibuic2mdbDQCosicjaOmFQrbSbHicm9x5Ln9oJPGfuGdcjhQ5tGO5OJP2Cw7icg%2F640%3Fwx_fmt%3Dgif"
        alt="" />
      <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1533791430269&di=37683ec38f1e155cfc1449ba21e12553&imgtype=0&src=http%3A%2F%2Fimage.jijidown.com%2Fv1%2Fimage%3Fav%3D16139062%26url%3Dhttps%3A%2F%2Fi1.hdslb.com%2Fbfs%2Farchive%2F86e45368549f2d307b7a7b8b7c59ba20b999f02d.jpg%26sign%3D3134D3EAE9FD0351F2C13AB68195DEAA"
        alt="" />
    </div>
    <div id="htmlcaption" class="nivo-html-caption">
      <h5>Gakki</h5>
    </div>
  </div>
</div>
