<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="#">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let element; index as i"> {{ dataSource.data.length - i }} </td>
  </ng-container>
  <ng-container matColumnDef="logDate">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element">{{element.logDate | date:'yyyy-MM-dd HH:mm:ss'}}</td>
  </ng-container>
  <ng-container matColumnDef="log">
    <th mat-header-cell *matHeaderCellDef>Log</th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="element.getwayId" class="getwayId">{{element.getwayId}}</span>
      <span>{{element.log}}</span>
      <code>{{element.code}}</code>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [@jackInOutTheBox] appLightCode></tr>
</table>
